[flake8]
exclude =
    migrations,
    __pycache__,
    venv
import-order-style=google
application-import-names =
    catalog,
    core,
    about,
    homepage,
    saashop,
    download,
    feedback,
    rating,
    users,
    global_statistics,
inline-quotes = "
