[flake8]
exclude =
    migrations,
    __pycache__,
    venv
import-order-style=google
application-import-names = 
    catalog,
    core,
    about,
    homepage,
    lyceum,
    download,
    feedback,
    users,
inline-quotes = "