{% extends "base.html" %}
{% block main %}

<div class="container">
	<h1>Статистика по товарам:</h1>
	{% for item in items %}
		<h4>Товар: <a class="white-text" href="{% url 'catalog:item_detail' pk=item.id %}">{{ item.name }}</a></h4>
		<br>
		<span>Количество отзывов: {{ item.ratings_count }}</span>
		<br>
		<span>Средний рейтинг: {{ item.avg_rating|floatformat:2|default:"N/A" }}</span>
		<br>
		<span>Последний максимальный отзыв от {{ item.highest_rating_user|default:"N/A" }}</span>
		<br>
		<span>Последний минимальный отзыв от {{ item.lowest_rating_user|default:"N/A" }}</span>
		<br><br>
	{% endfor %}
</div>
{% endblock %}
