<div class="card mb-4">
  <div class="card-body">
    <h5>Текст:</h5>
    <div style="margin-inline: 25px;">
      <p class="text ml-10">{{ comment.text|safe|linebreaks }}</p>
    </div>

    <div class="d-flex justify-content-between">
      <div class="d-flex flex-row align-items-center">
        {% comment %} <img src="" alt="avatar" width="25"
          height="25" /> {% endcomment %}
        <p class="small mb-0 ms-2">Автор: {{ comment.user.username }}</p>
      </div>
      <div class="d-flex flex-row align-items-center">
        {% if user.id == comment.user.id or user.is_superuser %}
        <a href="{% url 'rating:delete_rating' pk=comment.id %}" class="small text-danger mb-0">Удалить</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
