{% load static i18n %}

<footer class="site-footer">
    <div class="container">
        <div class="site-footer-inner">
            <div class="brand footer-brand">
                <a href="{% url 'homepage:homepage' %}">
                    <img width="32px" height="32px" class="header-logo-image" src="{% static 'img/saas.png' %}" alt="Logo">
                </a>
            </div>
            <ul class="footer-links list-reset">
                <li>
                    <a href="https://github.com/SaaShopOfficial">GitHub</a>
                </li>
            </ul>
            <ul class="footer-social-links list-reset">
            </ul>
            <div class="footer-copyright">&copy; <span id="footerYear">{% now "Y" %}</span>&nbsp; SaaShop, {% translate "all_rights_reserved" %}</div>
        </div>
    </div>
</footer>
