{% load static i18n %}

<footer class="site-footer">
    <div class="container">
        <div class="site-footer-inner">
            <div class="brand footer-brand">
                <a href="{% url "homepage:homepage" %}">
                    <img width="32px" height="32px" class="header-logo-image" src="{% static 'img/saas.png' %}" alt="Logo">
                </a>
            </div>
            <ul class="footer-links list-reset">
                <li>
                    <a href="{% url "about:about" %}">{% translate "About" %}</a>
                </li>
                <li>
                    <a href="{% url "catalog:item_list" %}">{% translate "Item list" %}</a>
                </li>
            </ul>
            <ul class="footer-social-links list-reset">
            </ul>
            <div class="footer-copyright">&copy; <span id="footerYear">{% now "Y" %}</span>&nbsp; SaaShop, {% translate "all rights reserved" %}</div>
        </div>
    </div>
</footer>
<script>
    const userYear = new Date().getFullYear();
    const currentYearElement = document.getElementById("footerYear");
    const currentYear = parseInt(currentYearElement.textContent);
    const currentDate = new Date();
    const year24HoursAgo = new Date(currentDate.getTime() - (24 * 60 * 60 * 1000)).getFullYear();
    const isDifferentYear = currentYear !== userYear && year24HoursAgo !== userYear;
    
    if (isDifferentYear) {
      currentYearElement.textContent = userYear;
    }

</script>
