{% load i18n %}
<div class="col">
    <div class="card h-100 shadow-sm item_card is-revealing zoomable-card">
        {% comment %} {% if item.main_image %}
            {{ item.main_image.image_in_template }}
        {% else %}
            <svg class="bd-placeholder-img card-img-top" width="100%" height="300px" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>{% translate "no_image" %}</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
            </svg>
        {% endif %} {% endcomment %}
        <div class="card-body">
            <a href="{% url 'catalog:item_detail' item_id=item.id %}">
                <h5 class="card-title text-white">{{ item.name }}</h5>
                <p class="card-text">{{ item.text|truncatewords_html:10|striptags|safe }}</p>
                {% if item.category.name %}
                <h5>{% translate "category" %}:</h5>
                <p class="card-text">
                    <span class="badge rounded-pill text-bg-warning">{{ item.category.name }}</span>
                </p>
                {% endif %}
                <h5>{% translate "tags" %}:</h5>
                <p>
                    {% for tag in item.tags.all %}
                    <span class="badge rounded-pill text-bg-warning">{{ tag.name }}</span>
                    {% empty %}
                    {% translate "empty_plural" %}
                    {% endfor %}
                </p>
            </a>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    {% if user.is_superuser %}
                    <a href="{% url 'admin:catalog_item_change' item.id %}"><button type="button" class="btn btn-sm btn-outline-secondary">{% translate "edit" %}</button></a>
                    {% endif %}
                </div>
            <!-- <small class="text-body-secondary">9 mins</small> -->
            </div>
        </div>
    </div>
</div>