{% extends "base.html" %}
{% block main %}
{% load static i18n %}
<script src="{% static 'js/anime.min.js' %}"></script>
<script src="{% static 'js/scrollreveal.min.js' %}"></script>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">SaaShop</h1>
      <p class="lead text-body-secondary">Здесь вы можете посмотреть наши работы и выбрать нужные вам</p>
      <p>
        <a href="{% url "homepage:homepage" %}" class="btn btn-primary my-2">{% translate "Home" %}</a>
        <a href="{% url "about:about" %}" class="btn btn-secondary my-2">{% translate "About" %}</a>
      </p>
    </div>
  </div>
</section>
<div class="album py-4 bg-body-tertiary">
  <div class="container">
    <h1>{{ title }}</h1>
    <div>
      {% for item in items %}
      {% ifchanged %}
        </div>
        <h2>{{ item.category }}</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
      {% endifchanged %}
        {% include "includes/item_card.html" %}
      {% empty %}
        <p>Карточки отсутствуют</p>
      {% endfor %}
    </div>
  </div>
</div>
<script src="{% static 'js/animation_setup.min.js' %}"></script>
{% endblock main %}
