{% extends "base.html" %}
{% block main %}
{% load static i18n %}
<script src="{% static 'js/anime.min.js' %}"></script>
<script src="{% static 'js/scrollreveal.min.js' %}"></script>
<div class="body-wrap">
    <header class="site-header">
        <div class="container">
            <div class="site-header-inner">
                <div class="brand header-brand">
                    <h1 class="m-0">
                        <a href="#">
                            <img class="header-logo-image" width="32px" height="32px" src="{% static 'img/saas.png' %}" alt="Logo">
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <div class="hero-inner">
                    <div class="hero-copy">
                        <h1 class="hero-title mt-0">SaaShop</h1>
                        <p class="hero-paragraph">{% translate "landing_lead_text" %}</p>
                        <div class="hero-cta"><a class="button button-primary" href="{% url "catalog:item_list" %}">{% translate "item_list" %}</a><a class="button" href="{% url "about:about" %}">{% translate "about" %}</a></div>
                    </div>
                    <div class="hero-figure anime-element">
                        <svg width="528" height="396" viewBox="0 0 528 396">
                        </svg>
                        <div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
                        <div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
                        <div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
                        <div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
                        <div class="hero-figure-box hero-figure-box-05"></div>
                        <div class="hero-figure-box hero-figure-box-06"></div>
                        <div class="hero-figure-box hero-figure-box-07"></div>
                        <div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
                        <div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
                        <div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
                    </div>
                </div>
            </div>
        </section>

        {% comment %} <section class="features section">
            <div class="container">
                <div class="features-inner section-inner has-bottom-divider">
                    <div class="features-wrap">
                        <div class="feature text-center is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <img src="{% static 'landing/img/feature-icon-01.svg' %}" alt="Feature 01">
                                </div>
                                <h4 class="feature-title mt-24">Be Productive</h4>
                                <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                            </div>
                        </div>
                        <div class="feature text-center is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <img src="{% static 'landing/img/feature-icon-02.svg' %}" alt="Feature 02">
                                </div>
                                <h4 class="feature-title mt-24">Be Productive</h4>
                                <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                            </div>
                        </div>
                        <div class="feature text-center is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <img src="{% static 'landing/img/feature-icon-03.svg' %}" alt="Feature 03">
                                </div>
                                <h4 class="feature-title mt-24">Be Productive</h4>
                                <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                            </div>
                        </div>
                        <div class="feature text-center is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <img src="{% static 'landing/img/feature-icon-04.svg' %}" alt="Feature 04">
                                </div>
                                <h4 class="feature-title mt-24">Be Productive</h4>
                                <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                            </div>
                        </div>
                        <div class="feature text-center is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <img src="{% static 'landing/img/feature-icon-05.svg' %}" alt="Feature 05">
                                </div>
                                <h4 class="feature-title mt-24">Be Productive</h4>
                                <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                            </div>
                        </div>
                        <div class="feature text-center is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <img src="{% static 'landing/img/feature-icon-06.svg' %}" alt="Feature 06">
                                </div>
                                <h4 class="feature-title mt-24">Be Productive</h4>
                                <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pricing section">
            <div class="container-sm">
                <div class="pricing-inner section-inner">
                    <div class="pricing-header text-center">
                        <h2 class="section-title mt-0">Unlimited for all</h2>
                        <p class="section-paragraph mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ad quis nostrud.</p>
                    </div>
                    <div class="pricing-tables-wrap">
                        <div class="pricing-table">
                            <div class="pricing-table-inner is-revealing">
                                <div class="pricing-table-main">
                                    <div class="pricing-table-header pb-24">
                                        <div class="pricing-table-price"><span class="pricing-table-price-currency h2">$</span><span class="pricing-table-price-amount h1">49</span><span class="text-xs">/month</span></div>
                                    </div>
                                    <div class="pricing-table-features-title text-xs pt-24 pb-24">What you will get</div>
                                    <ul class="pricing-table-features list-reset text-xs">
                                        <li>
                                            <span>Lorem ipsum dolor sit nisi</span>
                                        </li>
                                        <li>
                                            <span>Lorem ipsum dolor sit nisi</span>
                                        </li>
                                        <li>
                                            <span>Lorem ipsum dolor sit nisi</span>
                                        </li>
                                        <li>
                                            <span>Lorem ipsum dolor sit nisi</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pricing-table-cta mb-8">
                                    <a class="button button-primary button-shadow button-block" href="#">Pre order now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cta section">
            <div class="container">
                <div class="cta-inner section-inner">
                    <h3 class="section-title mt-0">Не уверены в покупке?</h3>
                    <div class="cta-cta">
                        <a class="button button-primary button-wide-mobile" href="{% url 'catalog:new_item_list' %}">Изучите новинки</a>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}
    </main>
</div>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <h1>{% translate "landing_item_list" %}</h1>
      <div class="row g-3 g-lg-4 g-md-3 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-xl-3">
        {% for item in items %}
          {% include "includes/item_card.html" %}
        {% empty %}
          <p>{% translate "no_cards" %}</p>
        {% endfor %}
      </div>
    </div>
</div>
<script src="{% static 'js/animation_setup.min.js' %}"></script>
{% endblock main %}
